# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
venv/
.env/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Large files (optional if needed)
# data/raw/*.csv
# data/processed/*.csv
# data/final/*.csv